<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

    <nav>
        <div class="logo">
            <a href="#"><i class="fa-solid fa-circle-user fa-2x"></i> Renato Leite Camilo </a>
        </div>
        <div class="links">
            <a th:href="@{/employees/register}"><i class="fa-solid fa-user-plus"></i>Cadastrar</a>
            <a th:href="@{/employees}"><i class="fa-solid fa-users"></i>Funcionários</a>
            <a href="#"><i class="fa-solid fa-right-to-bracket"></i>Entrar</a>
        </div>
    </nav>

    <div class="dashboard">

        <form id="search_form" method="get">
            <h5>Terminal de Consultas</h5>
            <input type="text" name="fname" placeholder="Nome">
            <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> Pesquisar </button>
        </form>

        <table id="employee_table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th colspan="2">Actions</th>
            </tr>
        </table>
    </div>
    <script th:src="@{/js/dashboard.js}"></script>


</body>
</html>